@import './base.css';

#app {
}

.badge {
  color: #fff;
}

@media (min-width: 992px) {
  .navbar-expand-lg.navbar-vertical ~ .navbar,
  .navbar-expand-lg.navbar-vertical ~ .page-wrapper {
    margin-left: 14rem;
  }

  .page-wrapper {
    min-height: 100vh;
    overflow-y: auto;
  }
}
